body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 10, 44);
}

label {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 20px;
}

.a {
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

.regCompany {
    text-align: center;
}

.test {
    width: 50%;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}

.h1 {
    border-bottom: 1px solid rgb(231, 231, 231);
}

.container {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    margin: 0px;
}

fieldset {
    padding: 0px;
    margin-bottom: 50px;
    border: none;
    margin-top: 20px;
}

legend {
    margin-left: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    margin-bottom: 50px;
    height: 50px;
}

.logedIn {
    display: flex;
    margin-top: 10px;
    border-color: aliceblue;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    float: right;
    margin-top: 10px;
    border-color: aliceblue;
    color: black;
    border-radius: 10px;
}

.logedIn label {
    margin-left: 5px;
    ;
}

/* only for viewCompanyApplication */

.jobDisplay-table {
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
}

.jobDisplay-head td {
    font-weight: bold;
    background-color: rgb(57, 57, 101);
    color: white;
    border: none;
    border-bottom: 1.0px solid rgb(0, 0, 0);
    border-right: 0.5px solid rgb(182, 182, 182);
}

.jobDisplay-body td {
    font-weight: normal;
    border: none;
    border-top: 0.5px solid rgb(182, 182, 182);
    border-right: 0.5px solid rgb(182, 182, 182);
}

.filterStatus {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}