<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register Company</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/company.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<nav>
		<div class="homeNav">
			<a href="/"></a>
		</div>
		<div class="otherNav">
			<div class="dropdown">
				<a class="dropdown-button" onclick="toggleDropdown()">Job</a>
				<div id="dropdownOptions" class="dropdown-content">
					<a href="#">Create New</a>
					<a href="#">View / Manage</a>
				</div>
			</div>
			<a href="#">View / Manage Application</a>
			<a href="/manage_company_profile">Edit Profile/ Account</a>
			<a href="/logoutCompany">Logout</a>
		</div>
	</nav>
</head>

<body>
	<div class="logedIn">
		<i class="fas fa-user-circle"></i>
		<label>
			{{name}}
		</label>
	</div>

	<form action="/addCompanyReg" autocomplete="on" method="POST" enctype="multipart/form-data">
		<div class="h1">
			<h1>
				Publish Job
			</h1>
		</div>
		
		<fieldset>
			<div class="container">
				<div class="title">
					<legend>Job Details</legend>
				</div>
				<div>
					<table>
						<tr>
							<td>
								<label class="label">Job Position</label>
							</td>
							<td>
								<input class="inputText" type="text" name="job_position" autofocus size="40"
									placeholder="Enter job position">
							</td>
						</tr>

						<tr>
							<td>
								<label class="label">Industry/Field</label>
							</td>
							<td>
								<select class="dropDownJobtype" name="job_type">
									<option value="Information Technology">Information Technology</option>
									<option value="Healthcare">Healthcare</option>
									<option value="Finance">Finance</option>
									<option value="Engineering">Engineering</option>
									<option value="Education">Education</option>
									<option value="Marketing">Marketing</option>
									<option value="Retail">Retail</option>
									<option value="Hospitality">Hospitality</option>
									<option value="Automotive">Automotive</option>
									<option value="Media and Entertainment">Media and Entertainment</option>
									<option value="Construction">Construction</option>
									<option value="Telecommunications">Telecommunications</option>
									<option value="Manufacturing">Manufacturing</option>
									<option value="Legal">Legal</option>
									<option value="Non-profit and Social Services">Non-profit and Social Services
									</option>
									<option value="Government and Public Administration">Government and Public
										Administration</option>
									<option value="Real Estate">Real Estate</option>
									<option value="Aerospace">Aerospace</option>
									<option value="Energy">Energy</option>
									<option value="Biotechnology and Pharmaceuticals">Biotechnology and Pharmaceuticals
									</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>
								<label class="label">Job Type</label>
							</td>
							<td>
								<select class="dropDownJobtype" name="job_type">
									<option value="part_time">Part Time</option>
									<option value="full_time">Full Time</option>
									<option value="internship">Internship</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>
								<label class="label">Job Description</label>
							</td>
							<td>
								<textarea class="inputText" name="job_description"
									placeholder="Enter job description"></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<label class="label">Job Requirement</label>
							</td>
							<td>
								<textarea class="inputText" name="job_requirement"
									placeholder="Enter job requirement"></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<label class="label">Job Location</label>
							</td>
							<td>
								<textarea class="inputText" type="text" name="job_location"
									placeholder="Enter job location"></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<label class="label">Salary (RM)</label>
							</td>
							<td>
								<input class="inputText" type="text" name="job_salary" placeholder="Enter job salary">
							</td>
						</tr>
						<tr>
							<td>
								<label class="label">Number of Openings</label>
							</td>
							<td>
								<input class="inputText" type="number" name="job_openings"
									placeholder="Enter number of openings" min="0" step="1">
							</td>
						</tr>

						<tr>
							<td></td>
							<td>
								<button class="submitBtn" type="submit">Publish</button>
							</td>
						</tr>
					</table>
				</div>

			</div>

		</fieldset>
	</form>

	<script src="{{ url_for('static', filename='script/master.js') }}"></script>
</body>


</html>